body {
    background-color: #1b0404;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 100px;
}

#scoreboard {
    z-index: 9999;
    position: sticky;                              
    top: 0;
    width: 100%;    
    font-size: 4rem;       
    font-weight: bold;
    text-align: center;    
    background-color: #111; 
}

#topLeft {
    position: absolute;
    top: 8px;
    left: 0px;
    height: 128px;
    width: 128px;
}

#topRight {
    position: absolute;
    top: 8px;
    right: 0px;
    height: 128px;
    width: 128px;
}

#tickerBox {
    position: fixed;
    text-align: center;
    transform: translateY(430px);
}

#tickerTrack {
    font-size: 1.75rem;
    opacity: 1;
    transition: 1s ease;
}

.mainContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.progress {
    z-index: 0;
    position: relative;
    width: 90%;
    height: 50px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

.progress__fill {
    width: 50%;
    height: 100%;
    background: green;
}

.progress__text {
    color: black;
    position: absolute;
    top: 10px;
    right: 47%;
    
    
    

}





.mainColumn {
    display: flex;
    flex-direction: column;
    width: 33%;
    flex-direction: column;
    align-items: center;  
}

#doNothing {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    align-self: center;
    position: fixed;
    transform: translateY(30px);
}

#doNothing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#doNothing:active {
  transform: translateY(30px) scale(0.95);
  box-shadow: 0 0 40px rgba(255,0,0,0.9);
  transition: transform 0.15s ease;
}



.row {
    display:flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.row p {
    text-align: center;
}

.actionButton {
    flex: 1;
    border-radius: 15px;
    height: 75px;
}

.tooltips {
    flex: 0.1;
    border-radius: 15px;
    height: 50px;
}

.price {
    flex: 0.1;
    border-radius: 15px;
    height: 50px;
}

#clockBox {
    position: fixed;
    bottom: 0;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    background-color: rgba(17, 17, 17, 1.0);
    pointer-events: auto;
}

#clockText {
    font-size: 4rem;       
    font-weight: bold;
    text-align: center; 
}


.storeHeader {
    font-size: 2rem;
}

#prefix {
    padding-top: 30px;
}

#volumeSlider {
    margin-top: 20px;
    transform: scale(2.0);
}

.countInfo {
    display: block;
}

.filler {
    width: 200px;
    height: 200px;
}

.driftUp {
  animation: driftUp 1.0s linear forwards; 
  will-change: transform;
}

@keyframes driftUp {
  from { transform: translateY(0); }
  to   { transform: translateY(-30px); }  
}