body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}

#scoreboard {
    top: 0;                              
    width: 100%;           
    font-size: 4rem;       
    font-weight: bold;
    text-align: center;    
    background-color: #111; 
}

#tickerBox {
    position: sticky;
    top: 0;
    text-align: center;
}

#tickerTrack {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75rem;
    opacity: 1;
    transition: 1s ease;
}


.mainContain {
    display: flex;
    width: 100%;
    gap: 10px;
}

.mainBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*
    border-radius: 20px;
    border: 1px solid pink;
    */
    padding: 5px;
}

.main {
    display: flex;
    width: 33%;
}

.main .actionButton {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: auto;
}

#doNothing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.row p {
    text-align: center;
}

.actionButton {
    flex: 1;
    border-radius: 15px;
    height: 75px;
}

.tooltips {
    flex: 0.1;
    border-radius: 15px;
    height: 75px;
}

.price {
    flex: 0.1;
    border-radius: 15px;
    height: 75px;
}

#clockBox {
    position: fixed;
    bottom: 0;
    height: 100px;
    /*
    border: 1px solid pink;
    */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    z-index: 9999;
    background-color: rgba(17, 17, 17, 1.0);
    pointer-events: auto;
}

#clockText {
    font-size: 4rem;       
    font-weight: bold;
    text-align: center; 
}


.storeHeader {
    font-size: 2rem;
}

#prefix {
    padding-top: 30px;
}

#volumeSlider {
    margin-top: 20px;
    transform: scale(2.0);
}